/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

/* ========================================================================================================================

coded by Anna Baranowska (find me on github -> annabaranowska8) based on https://verekia.com/initializr/responsive-template 

======================================================================================================================== */

html {
    scroll-behavior: smooth;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Montserrat;
    background: #ECECEC;
}

body h2 {
    padding: 20px 0px 20px;
}

body a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    margin: 0 5%;
}

/* ===================
    ALL: white/grey/yellow Theme
   =================== */

/*
University theme colors:
(header)
#4A4A49 dark grey
(body)
#FBB800 selective yellow
#ECECEC platinum
#3A3A3A grey - main text
*/

/* .header-container {
    border-top: 1px solid #4A4A49;
} */

/* .footer-container {
    border-top: 15px solid #4A4A49;
} */

/* .main aside {
    border-top: 8px solid #4A4A49;
} */

.header-container {
    background: #ECECEC;
    -webkit-box-shadow: 0 10px 10px #848484;
         -moz-box-shadow: 0 5px 10px #848484;
              box-shadow: 0 5px 15px #848484;
}

.main {
    border-bottom: 1px solid;
    border-bottom-color: #4A4A49;
}

footer {
    padding-bottom: 30px;
}

.footer-container footer {
    background: #181817;
    display: flex;
}
.footer-container p {
    color: #fff;
    font-weight: 200;
}

.footer-container a {
    display: inline-block;
    text-decoration: none;
    color: #FBB800;
    font-weight: 400;
    width: 58%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer-container a:hover {
    color: #fff;
}

.footer-container p a {
    display: inline-block;
}

.main aside {
    background: #FBB800;
    margin-top: 1em;
}

.title {
    color: #4A4A49;
}

.team-container {
    background: #ECECEC;
    margin-bottom: 0px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 3em;
}

.team-container p {
    display: inline-block;
}

.team-member {
    width: 26%;
    display: flex;
    flex-direction: column;
}

.team-member h3 {
    margin-top: 30px;
    margin-bottom: 0px;
}

.team-member p {
    margin-top: 0px;
    margin-bottom: 30px;
}

.team-member img {
    /* max-width: 100px; */
    width: 100%;
    -webkit-box-shadow: 0 10px 10px #848484;
       -moz-box-shadow: 0 5px 10px #848484;
            box-shadow: 0 5px 15px #848484;
}

.team-member img:hover {
    /* max-width: 100px; */
    width: 100%;
    transition: 200ms ease-in;
    -webkit-box-shadow: 0 10px 10px #FBB800;
       -moz-box-shadow: 0 5px 10px #FBB800;
            box-shadow: 0 5px 15px #FBB800;
}

.contact-container {
    background: #FBB800;
    height: 10em;
    text-align: center;
    padding: 1em;
    /* box-shadow: 3px -2px 14px #4A4A49; */
}

.support-container {
    background: #fff;
    height: 10em;
    text-align: center;
    line-height: 1.5;
    padding: 1em;
    box-shadow: 3px -2px 14px #4a4a49;
    height: 350px;
}

.support-container h2 {
    margin: 10px;
}

.support-container svg {
    height: 200px;
}
/* .contact-title h1 {
} */

/* ==============
    MOBILE: Menu
   ============== */

.header-container {
    float: left;
    width: 100%;
    background: #FFF;
    top: 0;
}

.logo {
    display: flex;
}
.logo img {
    float: left;
    width: 327px;
    height: 71px;
    background: #FFF;
}

.logo a {
    width: 100%;
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.menu ul {
    padding-left: 0px;
}

nav a {
    
    display: block;
    /* margin-bottom: 10px; */
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: normal;

    text-shadow: 1px 1px #fff;
    color: #4A4A49;
}

nav a:hover {
    text-shadow: 0px 0px 1px #181817;
    color: #4A4A49;
    text-decoration: none;
    transition: 80ms ease-in;
}


/* ==============
    MOBILE: Main
   ============== */

/* .main {
    padding: 30px 0;
} */

.main article h1 {
    display: inline-block;
    font-size: 2.3em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    padding: 20px 0px 20px;
}

.main aside {
    color: #4A4A49;
    padding: 3px 10px;
    margin-top: 1em;
}

.main aside p {
    text-align: center;
}

.main-container header {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.main-container section {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.footer-container footer {
    display: block;
    color: #4A4A49;
    padding: 20px 0;
    text-align: center;

}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    /* nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    } */

    .logo img {
        float: none;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    .menu {
        flex-direction: column;
    }

    .menulist {
        display: flex;
        margin-right: 0;
        gap: 30px;
        justify-content: center;
        font-size: 14px;
    }

    /* nav a:hover {
        text-shadow: none;
        text-decoration: none;
    
    } */
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: block;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
     -webkit-box-shadow: 0 10px 10px #848484;
         -moz-box-shadow: 0 5px 10px #848484;
              box-shadow: 0 5px 15px #848484;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    .menu {
        flex-direction: row;
    }

    /* nav {
        float: right;
        width: 38%;
    } */

/* ============
    WIDE: Main
   ============ */

    .main article {
        display: flex:
        width: 100%;
    }

    /* .main aside {
        float: right;
        width: 28%;
    } */
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    h2 {
        padding: 20px 0px 20px;
    }
}

.menulist {
    display: flex;
    margin-right: 0;
    gap: 30px;
    align-items: center;
}

.team-title {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 2em;
}